/target
/CMakeUserPresets.json
/_logs
/_queries
/*.sql
/*.pipe
/ref.out
/output
/bench/results
__pycache__/
*.pyc
/Makefile.dev
/.dvim.lua
/mirror_to_junk.sh
/sync.sh
/make_mac.sh

/*.svg
/*.out
/*.data
/*.dot
/*.script
/*.folded
